extends ./layouts/layout

block content
  // MAIN CONTENT
  .container
    .hero-unit
      h3 eMolTox Order List：
      table.table.table-bordered.table-striped.table-condensed
        thead
          tr
            td 计算输入参数
            td 计算开始时间
            td 计算结束时间
            td 计算状态
        tbody
          each order in tox_orders
            tr
              td #{order.parameters}
              td #{order.startTime}
              td #{order.endTime}
              td 
                if order.status == 9
                  a(href='/moltox/silicotox/#{order.id_}') 计算成功
                else if order.status == 1
                  | 排队中
                else if order.status == 5
                  | 计算中
                else if order.status == 8
                  | 计算失败
    .hero-unit
      h3 eMolOpt Order List：
      table(class='table table-bordered table-hover')
        thead
          tr
            td 计算输入参数
            td 计算开始时间
            td 计算结束时间
            td 计算状态
        tbody
          each order in opt_orders
            tr
              td #{order.parameters}
              td #{new Date(order.startTime)}
              td #{order.endTime}
              td 
                if order.status == 9
                  a(href='/molopt/optimize/#{order.id_}') 计算成功
                else if order.status == 1
                  | 排队中
                else if order.status == 5
                  | 计算中
                else if order.status == 8
                  | 计算失败
block scripts
